nav {
  background-color: #0F0E17;
}
.burger{
  background-image: url("../img/mobile/icon-menu.svg") !important;
}
#welcome-section {
  min-height: 100vh;
  max-height: 500px;
  color: white;
  background-color: #0F0E17;
  display: flex;
  flex-direction: column;
}
#welcome-section img{
  width: 300px;
  height: 300px;
}
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}

#niko {
  background-image: url('../img/mobile/bg-3.png');
}
#principe {
  background-image: url('../img/mobile/bg.png');
  height: 400px;
}
#amazonas {
  background-image: url('../img/mobile/bg-2.png');
  height: 500px;
}
#niko, #principe, #amazonas {
  background-repeat: no-repeat;
  background-position: center;
}

.project-container {
  position: relative;
}
.project-container__card {
  position: absolute;
  top: 220px;
  min-width: 18rem;
}

#services, #form { 
  background: linear-gradient(135deg, #FEB692 0%, #EA5455 100%);
}
#services ul {
  list-style: none;
}
#services ul li {
  margin-top: 20px;
  margin-bottom: 20px;
}

.bg-orange,
.btn-orange {
  background-color: #FF8906;
}
.text-orange {
  color: #FF8906;
}
.btn-outline-orange {
  border: 2px solid #FF8906 !important;
}

.testimonial-name {
  color: #F25F4C;
}


#form form{
  max-width: 600px;
}

@media only screen and (min-width: 768px) {
  #welcome-section{
    flex-direction: row-reverse;
    justify-content: space-around;
    /* align-items: center; */
  }
  #welcome-section img{
    width: 450px;
    height: 450px;
  }
  #welcome-section .intro {
    max-width: 500px;
  }
  #niko {
    height: 460px;
    background-image: url('../img/desktop/niko.png');
    background-size: cover;
    margin-bottom: 50px;
  }
  #principe {
    background-image: url('../img/desktop/bg.png');
    background-size: cover;
    height: 500px;
  }
  #amazonas {
    background-image: url('../img/desktop/bg-2.png');
    background-size: cover;
  }
  .project-container__card {
    position: absolute;
    top: 25%;
    width: 400px;
  }
}